# API server URL
NEXT_PUBLIC_API_URL=https://api.travel-maker.site/api/v1/

# Kakao OAuth authorize configuration
NEXT_PUBLIC_KAKAO_CLIENT_ID=aa52a2618c356d5346c98fa3914415c2
NEXT_PUBLIC_KAKAO_REDIRECT_URI=https://api.travel-maker.site/api/v1/auth/kakao/callback

# Kakao Map
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=49f97ce715cbe3ef21a797f8e0682377
